!!!
%html
%head
 %title Filecabinet | My Life's work!
 = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
 = javascript_include_tag 'application', 'data-turbolinks-track' => true
 = csrf_meta_tags
 %body
  %header
   %nav
    .heado


     = link_to "FileBox", root_path, id: "box9"


  %nav
   .button2
    - if user_signed_in?
     = link_to "Create Doc", new_doc_path, class: "butto3"
     = link_to "Sign out", destroy_user_session_path, class: "butto3"


    - else
     =link_to "Log In", new_user_session_path, class: "butto3"

 %p.notice= notice
 %p.alert= alert


 = yield
